<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
  <script src="jslib/plotly-latest.min.js"></script>
  <script src="jslib/HomeMaticData3.js"></script>
</head>

<body>

  <div id="myDiv" style="width: 600px; height: 450px;"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
    data_in = processPlotlyData(getData(readData(1,'Yahoo_Wetter'),'WindrichtungGrad;Windgeschwindigkeit'))
    var trace1 = {
      r: data_in[0],
      t: data_in[1],
	  name: '<5 m/s',
	  mode: 'markers',
	  marker: {
	    color: '#7cb5ec',
	  },
	  type: 'area'
	};
    var trace2 = {
      r: data_in[2],
      t: data_in[3],
	  name: '5-10 m/s',
	  mode: 'markers',
	  marker: {
	    color: '#90ed7d',
	  },
	  type: 'area'
	};
    var trace3 = {
      r: data_in[4],
      t: data_in[5],
	  name: '10-20 m/s',
	  mode: 'markers',
	  marker: {
	    color: '#f7a35c',
	  },
	  type: 'area'
	};
    var trace4 = {
      r: data_in[6],
      t: data_in[7],
	  name: '>20 m/s',
	  mode: 'markers',
	  marker: {
	    color: '#f15c80',
	  },
	  type: 'area'
	};

	var data = [trace4,trace3,trace2,trace1];

	var layout = {
	  title: 'Wind in Eppelsheim',
	  font: {size: 12,
	  		 color: '#000000'
	  		},
	  legend: {
	     x: 0,
	     y: 1,
	     traceorder: 'normal',
	     font: {
	        size: 8,
	        color: '#000000',
	     }
	  },
	  plot_bgcolor: 'rgb(223, 223, 223)',
	  paper_bgcolor: '#d2ffff',
	  radialaxis: {ticksuffix: '%'},
	  angularaxis: {tickcolor: 'rgb(255,255,255)'},
      orientation: 270
	};

	Plotly.newPlot('myDiv', data, layout);

  </script>
</body>
